@charset "ISO-8859-1";
.consultaRequ__criterios{
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1em;
	padding: 1em 0 1em 0;
}
.consultaRequ__criterios_unidadOrganica{
	grid-template-rows: repeat(2, 70px);
}
.form-label{
	font-size: 14pt;
	font-weight: bold;
}
.consultaRequ__criterios > .form-group:nth-child(1){
	grid-column: 1 / span 3;
}
.consultaRequ__criterios > .form-group:nth-child(2){
	grid-column: 4 / 7;
}
.consultaRequ__criterios > .form-group:nth-child(3){
	grid-column: 1 / 3;
}
.consultaRequ__criterios > .form-group:nth-child(4){
	grid-column: 3 / 5;
}
.consultaRequ__criterios > .form-group:nth-child(5){
	grid-column: 5 / span 2;
}
.consultaRequ__criterios > .form-group:nth-child(6){
	grid-column: 1 / span 2;
}
.consultaRequ__criterios > .form-group:nth-child(7){
	grid-column: 3 / span 2;
}
.btn__fontSize{
	height: 45px;
	margin-top: 25px;
	font-size: 15pt;
	font-weight: bold;
}
.consultaRequ__block_table{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 30px;
}
.consultaRequ__block_info{
	font-size: 15pt;
	font-weight: bold;
}